<div class="products__home has-padding pt-4 pt-sm-5" data-v-6e63b2b6="" data-v-0ce0d99f="">
    <div class="products__home__top" data-v-6e63b2b6="">
        <div class="d-flex align-items-center title-text" data-v-6e63b2b6="">
            <span data-v-6e63b2b6="">
                <svg width="24" height="36" viewBox="0 0 24 36" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-6e63b2b6="">
                    <path d="M23.533 17.8739L4.02002 19.4869L0.402954 17.8739L4.02002 16.261L23.533 17.8739Z" fill="#F05454" data-v-6e63b2b6=""></path>
                    <path d="M17.896 29.454L4.40308 23.7949L2.703 21.49L5.75305 21.6749L17.896 29.454Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M17.896 6.2959L4.40308 11.9548L2.703 14.2599L5.75305 14.0748L17.896 6.2959Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M8.56909 35.7499L2.21399 27.5709L2.06299 25.5178L3.94604 26.6638L8.56909 35.7499Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M8.56909 0L2.21399 8.17798L2.06299 10.231L3.94604 9.08496L8.56909 0Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                </svg>
            </span>
            <h3 class="font-bold d-flex" data-v-6e63b2b6=""> محصولات <span data-v-6e63b2b6=""> الینور </span></h3>
            <span data-v-6e63b2b6="">
                <svg width="24" height="36" viewBox="0 0 24 36" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-6e63b2b6="">
                    <path d="M0.402954 17.8739L19.9159 19.4869L23.533 17.8739L19.9159 16.261L0.402954 17.8739Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M6.03992 29.454L19.5328 23.7949L21.2329 21.49L18.1829 21.6749L6.03992 29.454Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M6.03992 6.2959L19.5328 11.9548L21.2329 14.2599L18.1829 14.0748L6.03992 6.2959Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M15.3668 35.7499L21.7219 27.5709L21.8729 25.5178L19.9899 26.6638L15.3668 35.7499Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                    <path d="M15.3668 0L21.7219 8.17798L21.8729 10.231L19.9899 9.08496L15.3668 0Z" fill="#F05454" data-v-6e63b2b6="">
                    </path>
                </svg>
            </span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="496" height="12.979" viewBox="0 0 496 12.979" data-v-6e63b2b6="">
            <g id="Group_38" data-name="Group 38" transform="translate(-908 -2821.089)" opacity="0.2">
                <path id="Path_61" data-name="Path 61" d="M1959.869,663.54a2.63,2.63,0,1,0,2.639,2.63A2.634,2.634,0,0,0,1959.869,663.54Z" transform="translate(-793.668 2161.408)" fill="#f05454">
                </path>
                <path id="Path_62" data-name="Path 62" d="M1935.795,646.374a4.24,4.24,0,1,1,4.252-4.234A4.245,4.245,0,0,1,1935.795,646.374Zm0-10.724a6.49,6.49,0,1,0,6.5,6.49A6.5,6.5,0,0,0,1935.795,635.65Z" transform="translate(-769.594 2185.439)" fill="#f05454">
                </path>
                <path id="Path_63" data-name="Path 63" d="M136.1,644.886a5.347,5.347,0,0,1-3.256-1.046,4.526,4.526,0,0,1-1.612-2.214,6.68,6.68,0,0,1-3.194,2.611,8.712,8.712,0,0,1-4.977-5.057c-1.829,3-5.023,4.489-7.753,5.25a21.451,21.451,0,0,1-5.023.74,21.154,21.154,0,0,1,5.023.751c2.73.742,5.924,2.244,7.753,5.261a8.8,8.8,0,0,1,4.977-5.088,6.828,6.828,0,0,1,3.194,2.63,4.3,4.3,0,0,1,1.1-1.777,5.357,5.357,0,0,1,3.8-1.483l-.03-.58Z" transform="translate(797.71 2182.398)" fill="#f05454">
                </path>
                <path id="Path_64" data-name="Path 64" d="M257.72,674.4v2.244H491.269V674.4Z" transform="translate(670.68 2152.051)" fill="#f05454">
                </path>
                <path id="Path_65" data-name="Path 65" d="M2007.03,676.644h233.547V674.4H2007.03Z" transform="translate(-836.577 2152.051)" fill="#f05454">
                </path>
            </g>
        </svg>
        <div class="products__home__buttons" data-v-6e63b2b6="">
            <button class="active" data-v-6e63b2b6=""> جدیدترین </button>
            <button class="" data-v-6e63b2b6=""> پرفروش ترین </button>
        </div>
    </div>
    <div class="products__home__products" data-v-6e63b2b6="">
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/3422/%DA%A9%D8%AA-%DA%A9%D9%88%DA%A9-%D8%AF%D9%88%D8%B2%DB%8C-4255" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/28cc9cf8-2729-4070-a7a2-6d3a0ba74140/product-3422.webp" alt="کت کوک دوزی کوتاه   4255" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/3422/%DA%A9%D8%AA-%DA%A9%D9%88%DA%A9-%D8%AF%D9%88%D8%B2%DB%8C-4255" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/3422/%DA%A9%D8%AA-%DA%A9%D9%88%DA%A9-%D8%AF%D9%88%D8%B2%DB%8C-4255" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/3422/%DA%A9%D8%AA-%DA%A9%D9%88%DA%A9-%D8%AF%D9%88%D8%B2%DB%8C-4255" data-v-5be2f538="">
                            <span data-v-5be2f538="">کت کوک دوزی کوتاه   4255</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۴۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4496/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D9%84%DB%8C%D9%86%D9%86-%DB%8C%D9%82%D9%87-%D9%87%D9%81%D8%AA-4712" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/80a9c3aa-35d9-4cdc-bfc0-aad27ea8444f/product-4496.webp" alt="شومیز لینن یقه هفت 4712" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4496/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D9%84%DB%8C%D9%86%D9%86-%DB%8C%D9%82%D9%87-%D9%87%D9%81%D8%AA-4712" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4496/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D9%84%DB%8C%D9%86%D9%86-%DB%8C%D9%82%D9%87-%D9%87%D9%81%D8%AA-4712" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4496/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D9%84%DB%8C%D9%86%D9%86-%DB%8C%D9%82%D9%87-%D9%87%D9%81%D8%AA-4712" data-v-5be2f538="">
                            <span data-v-5be2f538="">شومیز لینن یقه هفت 4712</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۳۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4660/%D8%B3%D8%AA-%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%D9%88-%D8%B1%D9%88%DB%8C%D9%87-4336" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/8743dedb-8b96-40cb-9dd1-9f939710ee35/product-4660.webp" alt="ست پیراهن و رویه 4336" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4660/%D8%B3%D8%AA-%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%D9%88-%D8%B1%D9%88%DB%8C%D9%87-4336" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4660/%D8%B3%D8%AA-%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%D9%88-%D8%B1%D9%88%DB%8C%D9%87-4336" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4660/%D8%B3%D8%AA-%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%D9%88-%D8%B1%D9%88%DB%8C%D9%87-4336" data-v-5be2f538="">
                            <span data-v-5be2f538="">ست پیراهن و رویه 4336</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۸۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4697/%D9%85%D8%A7%D9%86%D8%AA%D9%88%DA%A9%D8%AA%D8%A7%D9%86-%D8%B1%D9%86%DA%AF%DB%8C-8747" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/d8418de8-48ba-4a30-896f-8ad423650b7b/product-4697.webp" alt="مانتوکتان رنگی 8747" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4697/%D9%85%D8%A7%D9%86%D8%AA%D9%88%DA%A9%D8%AA%D8%A7%D9%86-%D8%B1%D9%86%DA%AF%DB%8C-8747" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4697/%D9%85%D8%A7%D9%86%D8%AA%D9%88%DA%A9%D8%AA%D8%A7%D9%86-%D8%B1%D9%86%DA%AF%DB%8C-8747" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4697/%D9%85%D8%A7%D9%86%D8%AA%D9%88%DA%A9%D8%AA%D8%A7%D9%86-%D8%B1%D9%86%DA%AF%DB%8C-8747" data-v-5be2f538="">
                            <span data-v-5be2f538="">مانتوکتان رنگی 8747</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!----><span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۵۴۹.۰۰۰</span><span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div><div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4698/%DA%A9%D8%AA-%D8%AC%DB%8C%D9%86-%D8%AF%D8%B1%DB%8C%D8%A7-5173" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/5e57171c-2cb3-4ea6-a39b-4c1f03955f94/product-4698.webp" alt="کت جین افرا 5173" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4698/%DA%A9%D8%AA-%D8%AC%DB%8C%D9%86-%D8%AF%D8%B1%DB%8C%D8%A7-5173" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4698/%DA%A9%D8%AA-%D8%AC%DB%8C%D9%86-%D8%AF%D8%B1%DB%8C%D8%A7-5173" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4698/%DA%A9%D8%AA-%D8%AC%DB%8C%D9%86-%D8%AF%D8%B1%DB%8C%D8%A7-5173" data-v-5be2f538="">
                            <span data-v-5be2f538="">کت جین افرا 5173</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۱.۱۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4703/%DA%A9%D8%AA-%D8%A8%D8%A7%D9%85%D8%A8%D8%B1-%D8%AC%DA%A9%D8%AA-6012" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/235413c2-5094-479f-8483-7417432ebad9/product-4703.webp" alt="بامبر جکت 6012" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4703/%DA%A9%D8%AA-%D8%A8%D8%A7%D9%85%D8%A8%D8%B1-%D8%AC%DA%A9%D8%AA-6012" data-v-5be2f538=""><!----></a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4703/%DA%A9%D8%AA-%D8%A8%D8%A7%D9%85%D8%A8%D8%B1-%D8%AC%DA%A9%D8%AA-6012" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4703/%DA%A9%D8%AA-%D8%A8%D8%A7%D9%85%D8%A8%D8%B1-%D8%AC%DA%A9%D8%AA-6012" data-v-5be2f538="">
                            <span data-v-5be2f538="">بامبر جکت 6012</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۷۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4730/%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%DA%AF%D9%84%D8%AF%D9%88%D8%B2%DB%8C-%D8%AA%D8%A7%D8%B1%D8%A7-3830" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/b96eacb9-46a6-4143-b697-473dcae3db58/product-4730.webp" alt="پیراهن گلدوزی  صدف 3830" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4730/%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%DA%AF%D9%84%D8%AF%D9%88%D8%B2%DB%8C-%D8%AA%D8%A7%D8%B1%D8%A7-3830" data-v-5be2f538="">
                        <!---->
                    </a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4730/%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%DA%AF%D9%84%D8%AF%D9%88%D8%B2%DB%8C-%D8%AA%D8%A7%D8%B1%D8%A7-3830" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4730/%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86-%DA%AF%D9%84%D8%AF%D9%88%D8%B2%DB%8C-%D8%AA%D8%A7%D8%B1%D8%A7-3830" data-v-5be2f538="">
                            <span data-v-5be2f538="">پیراهن گلدوزی  صدف 3830</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۵۶۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4733/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D8%AF%D9%84%D9%88%DB%8C%D9%86-2213" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/b8995311-341a-4394-8c46-6d3bf8e9f602/product-4733.webp" alt="شومیز دلوین 2213" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4733/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D8%AF%D9%84%D9%88%DB%8C%D9%86-2213" data-v-5be2f538="">
                        <!---->
                    </a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4733/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D8%AF%D9%84%D9%88%DB%8C%D9%86-2213" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4733/%D8%B4%D9%88%D9%85%DB%8C%D8%B2-%D8%AF%D9%84%D9%88%DB%8C%D9%86-2213" data-v-5be2f538="">
                            <span data-v-5be2f538="">شومیز دلوین 2213</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!----><span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۳۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4735/%D8%B3%D8%AA-%D9%85%D8%A7%D9%86%D8%AA%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%A2%D9%84%D9%85%D8%A7-9373" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/ac66d53d-13df-4e46-b364-cbedf8af297f/product-4735.webp" alt="ست مانتو  و شلوار آلما 9373" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4735/%D8%B3%D8%AA-%D9%85%D8%A7%D9%86%D8%AA%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%A2%D9%84%D9%85%D8%A7-9373" data-v-5be2f538="">
                        <!---->
                    </a>
                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4735/%D8%B3%D8%AA-%D9%85%D8%A7%D9%86%D8%AA%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%A2%D9%84%D9%85%D8%A7-9373" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4735/%D8%B3%D8%AA-%D9%85%D8%A7%D9%86%D8%AA%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%A2%D9%84%D9%85%D8%A7-9373" data-v-5be2f538="">
                            <span data-v-5be2f538="">ست مانتو  و شلوار آلما 9373</span>
                        </a>
                        <div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۶۶۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal product" data-v-5be2f538="" data-v-6e63b2b6="">
            <div class="product__image" data-v-5be2f538="">
                <div class="img__holder" data-v-5be2f538="">
                    <div data-v-5be2f538="">
                        <a href="/product/4739/%D8%B3%D8%AA-%DA%A9%D8%AA-%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%B3%D8%A7%D9%86%D8%A7%D8%B2-9890" data-v-5be2f538="">
                            <!---->
                            <figure class="m-0 figure-product overflow-hidden" data-v-5be2f538="">
                                <img src="https://api.elinorboutique.com/storage/f3319e15-da30-44be-ad77-8f9bcba5bdc4/product-4739.webp" alt="ست کت و شلوار ساناز 9890" class="d-block w-100 image-product" data-v-5be2f538="">
                            </figure>
                        </a>
                    </div>
                </div>
                <button class="product__gallery__main__image__icon favorite productCard" data-v-942cf548="" data-v-5be2f538="">
                    <svg class="heartFillIconSvg" xmlns="http://www.w3.org/2000/svg" width="21.66" height="20.827" viewBox="0 0 20.902 19.624" data-v-942cf548="">
                        <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M18.873,3.589a5.314,5.314,0,0,0-7.618.6l-.8.889-.8-.889a5.314,5.314,0,0,0-7.618-.6,6.608,6.608,0,0,0-.4,9.107l7.9,8.752a1.221,1.221,0,0,0,1.849,0l7.9-8.752a6.6,6.6,0,0,0-.4-9.107Z" transform="translate(0.001 -2.248)" fill="white" data-v-942cf548="">
                        </path>
                    </svg>
                </button>
                <div data-v-5be2f538="">
                    <a href="/product/4739/%D8%B3%D8%AA-%DA%A9%D8%AA-%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%B3%D8%A7%D9%86%D8%A7%D8%B2-9890" data-v-5be2f538=""><!----></a>

                </div>
            </div>
            <div data-v-5be2f538="">
                <a href="/product/4739/%D8%B3%D8%AA-%DA%A9%D8%AA-%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%B3%D8%A7%D9%86%D8%A7%D8%B2-9890" data-v-5be2f538="">
                    <div class="product__details bg-white" data-v-5be2f538="">
                        <a class="product__details__title product-title" href="/product/4739/%D8%B3%D8%AA-%DA%A9%D8%AA-%D9%88-%D8%B4%D9%84%D9%88%D8%A7%D8%B1-%D8%B3%D8%A7%D9%86%D8%A7%D8%B2-9890" data-v-5be2f538="">
                            <span data-v-5be2f538="">ست کت و شلوار ساناز 9890</span>
                        </a><div class="product__details__price" data-v-5be2f538="">
                            <div class="theme3 product__info__price" data-v-6380910f="" data-v-5be2f538="">
                                <!---->
                                <span dir="rtl" class="product__info__price__amount alone" data-v-6380910f="">
                                    <span class="product__info__price__amount__number" data-v-6380910f="">۷۹۹.۰۰۰</span>
                                    <span class="type-price" data-v-6380910f=""> تومان </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="products__home__more" data-v-6e63b2b6="">
        <a href="/women-clothing?sort=newest" class="shape-container btn-link" data-v-d0beb128="" data-v-6e63b2b6=""> مشاهده همه </a>
    </div>
</div>